/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box; /* IE */
  margin: 0 auto;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px;
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}

#container {
	width: 100%;
	margin: auto;
}

.left{
  width: 50%;
  height: 100%;
  background-color: #D9EBFF;
  float: left;
  padding: 60px;
}

h1 {
  color: #007FFF;
  font-size: 5rem;
}

span{
  margin-bottom: 10px;
}

.right{
  width: 50%;
  height: 100%;
  background-color: #;
  float: left;
  padding: 60px;

}

input {
  margin-bottom: 30px;
}

h3{
  margin-bottom: 5px;
}

select{
  margin-bottom: 20px;
}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
